ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
<<<<<<< HEAD

p,
li{
  color: red;

}
=======
>>>>>>> a2b6db4587cac7aebb6186b74679672495aa7dba
