#red{
    color: red;
}

#blue{
    color: blue;
}
#orange{
    color: orange;

}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
*{
    background-color: gray;
}

.color-title{
    front-weight: normal;
}

img{
    width: 200px;
    height: 200px;
}